.Button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 4px;
    font-size: 17px;
    border-radius: 5px;
    font-weight: bold;

    &_clear {
        text-align: inherit;
        font-size: inherit;
        padding: 0;
        background: none;
        font-weight: normal;
        border-radius: 0px;
    }

    &_primary {
        color: white;
        background-color: rgb(45, 106, 175);
    }

    &_disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }
}

.Button:hover {
    opacity: 0.8;
    fill-opacity: 0.8;
    stroke-opacity: 0.8;
}
