.DatePickerControls {
    width: 350px;
    height: 40px;
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.731);

    &__element {
        width: 116px;
        line-height: 40px;
        text-align: center;
        cursor: pointer;

        &_selected {
            color: rgb(45, 106, 175);
            border-bottom: 2px solid rgb(45, 106, 175);
        }
    }
}
