.QuickMenuInterval {
    &-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;

        &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90px;
            height: 32px;
            font-weight: normal;
        }
    }

    &-inputsWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;

        &__input {
            width: 147px;
            height: 32px;
            padding: 3px;
        }

        &__icon {
            fill: white;
            margin-right: 6px;

            &_disabled {
                fill: black;
            }
        }
    }
}
