.CalendarHeader {
    width: 240px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        text-align: center;
    }

    &__arrow {
        width: 15px;
        height: 15px;

        &_left {
            transform: rotate(180deg);
        }
    }
}
