.Calendar {
    width: 350px;
    display: flex;
    justify-content: space-between;

    &__body {
        display: flex;
        gap: 40px;
    }
}

.dateContainer {
    display: grid;
    grid-template-columns: repeat(7, 30px);
    column-gap: 5px;

    &__date {
        cursor: pointer;

        &:hover {
            font-size: 13pt;
            text-decoration: underline;
        }

        &_current {
            text-decoration: underline;
            color: rgb(45, 106, 175);
        }

        &_selected {
            text-decoration: none;
            background-color: rgb(45, 106, 175);
            color: white;
            font-weight: bold;
        }
    }
}
